#### arrays estruturados
---

In [1]:
import numpy as np

como dito na introdução, os arrays de numpy só suportam um tipo de dado por vezes:

In [7]:
x = np.array(['lucas', 23, 1.83])
x.dtype

dtype('<U32')

como pode ser visto, misturar diferentes informações em um único array causa problemas na interpretação dos tipos pelo numpy.

para que isto não ocorra, é necessário fazer o seguinte:

In [8]:
x = np.zeros(4, dtype={'names': ('nome', 'idade', 'altura'), 'formats': ('U32', 'i4', 'f8')})
x

array([('', 0, 0.), ('', 0, 0.), ('', 0, 0.), ('', 0, 0.)],
      dtype=[('nome', '<U32'), ('idade', '<i4'), ('altura', '<f8')])

observe que foi criado um array com 4 posições vazias e nestas posições, três subposições que devem ser preenchidas. por correspondência, cada subposição equivale ao tipo especificado em `dtype`, não havendo mais erros na interpretação do tipo.

esses tipos podem ser acessados por indexing usando o nome passado em `dtype` ou o número do índice:

In [9]:
x['nome'] = ['lucas', 'matheus', 'ronaldo', 'jefferson']
x['idade'] = [23, 23, 26, 21]
x['altura'] = [1.83, 1.80, 1.72, 1.75]
x

array([('lucas', 23, 1.83), ('matheus', 23, 1.8 ), ('ronaldo', 26, 1.72),
       ('jefferson', 21, 1.75)],
      dtype=[('nome', '<U32'), ('idade', '<i4'), ('altura', '<f8')])

então,

In [10]:
x['nome']

array(['lucas', 'matheus', 'ronaldo', 'jefferson'], dtype='<U32')

In [11]:
x[2]

('ronaldo', 26, 1.72)

In [13]:
x[3]['altura']

1.75

In [17]:
x[x['idade'] < 24]['nome']

array(['lucas', 'matheus', 'jefferson'], dtype='<U32')

esta forma de criar arrays estruturados é a forma de dicionário e as especificações de `dtype` podem ser feitas usando o padrão python, se desejar:

In [18]:
x = np.zeros(4, dtype={'names': ('nome', 'idade', 'altura'), 'formats': ((np.str_, 32), int, float)})
x

array([('', 0, 0.), ('', 0, 0.), ('', 0, 0.), ('', 0, 0.)],
      dtype=[('nome', '<U32'), ('idade', '<i8'), ('altura', '<f8')])

mas, há outras formas de criar um array estruturado.

uma delas é usando tuplas:

In [23]:
x = np.zeros(4, dtype=([('nome', 'U32'), ('idade', int), ('altura', float)]))
x

array([('', 0, 0.), ('', 0, 0.), ('', 0, 0.), ('', 0, 0.)],
      dtype=[('nome', '<U32'), ('idade', '<i8'), ('altura', '<f8')])

lembrando que é possível especificar apenas os formatos dos dados, sem precisar passar nomes:

In [27]:
x = np.zeros(4, dtype=(('U32, i8, f8')))
x

array([('', 0, 0.), ('', 0, 0.), ('', 0, 0.), ('', 0, 0.)],
      dtype=[('f0', '<U32'), ('f1', '<i8'), ('f2', '<f8')])

passando um terceiro argumento é possível dizer o tamanho e o formato do dado: um vetor ou matriz:

In [28]:
x = np.zeros(4, dtype=([('nome', 'U32'), ('idade', int), ('ponto', float, 3)]))
x

array([('', 0, [0., 0., 0.]), ('', 0, [0., 0., 0.]),
       ('', 0, [0., 0., 0.]), ('', 0, [0., 0., 0.])],
      dtype=[('nome', '<U32'), ('idade', '<i8'), ('ponto', '<f8', (3,))])

In [31]:
x = np.zeros(4, dtype=([('nome', 'U32'), ('idade', int), ('ligações', float, (3, 2))]))
x

array([('', 0, [[0., 0.], [0., 0.], [0., 0.]]),
       ('', 0, [[0., 0.], [0., 0.], [0., 0.]]),
       ('', 0, [[0., 0.], [0., 0.], [0., 0.]]),
       ('', 0, [[0., 0.], [0., 0.], [0., 0.]])],
      dtype=[('nome', '<U32'), ('idade', '<i8'), ('ligações', '<f8', (3, 2))])

os formatos, em numpy, segue o quadro:

formato|descrição|exemplo
---|---|---
b|byte|
iN|inteiro|np.dtype('i4')=np.int32
uN|inteiro sem sinal|np.dtype('u1')=np.int8
fN|real|np.dtype('f8')=np.float64
cN|complexo|np.dtype('c16')=np.complex128
SN|string|np.dtype('s1')=np.string8
aN|string|np.dtype('a1')=np.string8
U|unicode string|np.dtype('U')=np.str_
V|dado sem tratamento|np.dtype('V')=np.void

N representa que o formato recebe um valor indicando o tamanho máximo em bits.

#### recorded array
---

sua funcionalidade é a mesma dos arrays estruturados, mudando apenas que recorded arrays é uma classe, `np.recarray()` e suas informações podem ser accessadas por atrubuições:

In [32]:
y = np.recarray(4, dtype={'names': ('nome', 'idade', 'altura'), 'formats': ('U32', 'i4', 'f8')})
y

rec.array([('', 0, 0.), ('', 0, 0.), ('', 0, 0.), ('', 0, 0.)],
          dtype=[('nome', '<U32'), ('idade', '<i4'), ('altura', '<f8')])

In [34]:
y['nome'] = ['lucas', 'matheus', 'ronaldo', 'jefferson']
y['idade'] = [23, 23, 26, 21]
y['altura'] = [1.83, 1.80, 1.72, 1.75]
y

rec.array([('lucas', 23, 1.83), ('matheus', 23, 1.8 ),
           ('ronaldo', 26, 1.72), ('jefferson', 21, 1.75)],
          dtype=[('nome', '<U32'), ('idade', '<i4'), ('altura', '<f8')])

In [35]:
y.nome

array(['lucas', 'matheus', 'ronaldo', 'jefferson'], dtype='<U32')

In [38]:
y.altura[y.idade<24]

array([1.83, 1.8 , 1.75])